@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant theme-horus (.theme-horus &);
@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary-base: var(--theme-primary-base, #01A9AF);
  --color-primary-hover: var(--theme-primary-hover, #018b90);
  --color-secondary-base: var(--theme-secondary-base, #FF8A22);
  --color-secondary-hover: var(--theme-secondary-hover, #e07212);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased font-sans selection:bg-[#01A9AF]/30;
  }
  .theme-horus {
    --color-primary-base: #a4a1ff;
    --color-primary-hover: #908df7;
    --color-secondary-base: #FF8A22;
    --color-secondary-hover: #e07212;
  }
}

@layer utilities {
  .theme-horus .cronuz-logo { display: none !important; }
  .theme-horus .horus-logo { display: block !important; }
}

@import 'react-quill-new/dist/quill.snow.css';
